body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #a7a7a7;
}
#container{
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
ul{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px;
    height: 50px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #000000,#6e6e6e);
}
li{
    display: inline-block;
    color: rgb(253, 253, 253);
    padding: 10px 10px;
    align-items: center;
}
li:hover{
    background-image: linear-gradient(to top, #6e6e6e,#000000);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}
h1,h2{
    justify-content: center;
    display: flex;
    padding: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align:center;
    padding: 0 0;
    position: absolute;
    width:100%;
    height: auto;
}
